<h1>Login</h1>

<br>

<form action="/sessions" method="post">
  <p>
    <label for="email" class="form-label">Email</label>
    <input type="text" name="email" class="form-control" id="email">
  </p>
  <p>
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="password">
  </p>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
