<% if User.find_by({ "id" => session["user_id"] }) != nil %>

<h1>My Profile</h1>

<br>

<ul class="list-group">
  <li class="list-group-item active" aria-current="true">User Info</li>
  <li class="list-group-item"><b>First Name: </b><%= @user["first_name"]%></li>
  <li class="list-group-item"><b>Last Name: </b><%= @user["last_name"]%></li>
  <li class="list-group-item"><b>User name: </b><%= @user["username"]%></li>
  <li class="list-group-item"><b>Email: </b><%= @user["email"]%></li>
</ul>

<% else %>
  You must be 
  <a href="/login">logged in</a> 
  to access this page. You will be redirected automatically.
  <meta http-equiv="refresh" content="3; URL=/login/">
<% end %>