<% if User.find_by({ "id" => session["user_id"] }) != nil %>

<h1>My User Account</h1>

<dl>
  <dt>First Name:</dt>
  <dd><%= @user["first_name"] %></dd>
  <dt>Last Name:</dt>
  <dd><%= @user["last_name"] %></dd>
  <dt>Email:</dt>
  <dd><%= @user["email"] %></dd>
</dl>

<% else %>
  You must be 
  <a href="/login">logged in</a> 
  to access this page. You will be redirected automatically.
  <meta http-equiv="refresh" content="3; URL=/login/">
<% end %>