<h1>Places</h1>

<% if User.find_by({ "id" => session["user_id"] }) != nil %>

<br>

<p>
  <a class="btn btn-primary" href="/places/new" role="button">Add a new place</a>
</p>

<br>

<% for place in @places %>
  <ul class="list-group">
    <a href="/places/<%= place["id"]%>" class="list-group-item d-flex justify-content-between align-items-center">
      <%= place["name"] %>
        <span class="badge text-bg-primary rounded-pill">
          <%=Entry.where({"user_id" => session["user_id"], "place_id" => place["id"]}).count%>
        </span>
      </li>
    </a>
  </ul>
<br>
<% end %>

<% else %>
  You must be 
  <a href="/login">logged in</a> 
  to access this page. You will be redirected automatically.
  <meta http-equiv="refresh" content="3; URL=/login/">
<% end %>